@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;

    color: white;

    font-family: 'Josefin Sans', sans-serif;

    box-sizing: border-box;
}

body {
    min-height: 100svh;
    background-color: black;
}

svg {
    width: 100%;
}

.blue-line path {
    stroke: var(--svg-blue);
}

a {
    text-decoration: none;
}

.goback {
    display: block;
    height: 30px;
    float: left;

    margin-right: 20px;
}