{% extends 'index.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/admin/pannel.css')}}">
{% endblock %}

{% block body %}
<h1>Panneau d'administration</h1>

<div class="memories-list">
    <h2>Projets accessibles</h2>

    <table>
        <tr>
            <th>Lien</th>
            <th>Titre</th>
            <th>Photos</th>
            <th>Films</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% for project, data in memories.items() %}
        <tr class="project" id="{{data['href']}}">
            <td>
                <a href="/{{data['href']}}">{{data["href"]}}/</a>
            </td>
            <td>
                {{data["title"]}}
            </td>
            <td>
                {{data["photo_count"]}}
            </td>
            <td>
                {{data["film_count"]}}
            </td>
            <td class="option">
                <a class="download-project" href="{{url_for('download_project', project=data['href'])}}">Télécharger</a>
            </td>
            <td class="option">
                <a class="edit-project" href="#">Modifier</a>
            </td>
            <td class="option">
                <a class="delete-project" href="{{url_for('delete_project', project=data['href'])}}">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<dialog id="delete-dialog">
    <form method="get">
        <h1>Supprimer le projet <span id="delete-project-name"></span></h1>

        <p>Lorsqu'elle est confirmée la suppression est immédiate et irréversible</p>

        <div class="submit">
            <button type="reset">Annuler</button>
            <button type="submit">Supprimer</button>
        </div>
    </form>
</dialog>
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='js/admin/pannel.js')}}"></script>
{% endblock %}