body {
    padding-top: 5vw;

    max-width: 1250px;
    margin: auto;
}

h1 {
    text-align: center;
}

.memories-list {
    margin-top: 70px;
}

table {
    width: 90%;
    margin: auto;
    margin-top: 30px;

    border-collapse: collapse;
}

td, th {
    border: 1px solid #525252;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #525252;
}

.option {
    text-align: center;
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

dialog .submit {
    display: flex;
    gap: 20px;
}

dialog button {
    all: unset;

    width: 50%;
    padding: 10px;

    text-align: center;

    cursor: pointer;

    border: 1px solid white;
    border-radius: 5px;
}

dialog button[type='reset'] {
    float: left;
}

dialog button[type='submit'] {
    float: right;
}